html, body{
    margin:0px;
    padding: 0px;
}
#wrap{
    width: 100%;
    height:100vh;
    background: url("miasto1.png");
    background-repeat: repeat-y;
    background-size: 100%;
    overflow-x: hidden;
    perspective: 10px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    z-index: -1;
}
img{
    width: 100%;
}
.wrapbg{

 position: absolute;
 top: -20px;
 width: 60%;
 left:18.1%;
 transform: translateZ(-50px) scale(6);
 object-fit:cover;
}

a{
    background-color: #232323;
    color: white;
    transition: all ease-in-out 0.3s;
}
a:hover{
    background-color: #232323;
    color: white;
}
a:link{
    background-color: #232323;
    color: white;
    transition: all ease-in-out 0.3s;
}
a:link:hover{
    background-color: #232323;
    color: white;
}

.linkToQuiz{
    text-align: center;
    position: absolute;
    top: 15px;
    width: 20%;
    padding: 20px 0;
    border-radius: 8px;
    right:15px;
z-index: 200;
    object-fit:cover;
    background-color: #232323;
    transition: all ease-in-out 0.3s;
    color: white;
    font-size:18px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    
    background-color: #aaa;
    color: #545454;
}
.linkToQuiz:hover{

    background-color: lightblue;
    color: #545454;
}
.header{
text-align: center;
    position: absolute;
    top: 30px;
    width: 50%;
    height: 70px;
    padding: 5px 0;
    left:0%;
z-index: 200;
    object-fit:cover;
    background-color: #232323;
    color: white;
    font-size:18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.obrazek{
    width: auto;
}

.header2{
    text-align: center;
    position: absolute;
    top: 30px;
    width: 50%;
    height: 70px;
    padding: 5px 0;
    left:50%;
z-index: 200;
    object-fit:cover;
    background-color: #232323;
    color: white;
    font-size:18px;
    font-weight: 500;
    letter-spacing: 2px;
}
.header3{
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 20px;
    padding: 10px 0;
    text-decoration: underline;
    left:0%;
    z-index: 250;
    object-fit:cover;
    background-color: #232323;
    color: white;
    font-size:18px;
    font-weight: 500;
    letter-spacing: 2px;
}
#star1{
    position: absolute;
 top:0px;
 left:0px;
 transform: translateZ(-20px) scale(3);
 object-fit:cover;
}
#star3{
    position: absolute;
 top:500px;
 left:0px;
 object-fit:cover;
}
.containerLeft{

    position: absolute;
    width: 100%;
    left: -10%;
    height: 0;
    transform: translateZ(-50px) scale(5.2);
    object-fit:cover;
}
.containerLeftRight{

    position: absolute;
    width: 100%;
    left: -330%;
    height: 0;
    transform: translateZ(-50px) scale(5.2);
    object-fit:cover;
}
.containerRightLeft{

    position: absolute;
    width: 100%;
    left: 170%;
    height: 0;
    transform: translateZ(-50px) scale(5.2);
    object-fit:cover;
}
.containerRight{

    width:  100%;
    left: -10%;
    height: 0;
    transform: translateZ(-50px) scale(5.2);
    object-fit:cover;
    position: absolute;
}
#container{

    top: -1400px;
}
#container2{

    top: -900px;
}
#container3{

    top: -900px;
}
#container4{

    top: -1400px;
}
#container5{

    top: -400px;
}
#container6{

    top: 100px;
}
#container7{

    top: 600px;
}
#container8{

    top: 1100px;
}
#container9{

    top: 1550px;
}
#container10{

    top: 2050px;
}
#container11{
    top: -400px;
}
#container12{
    top: 100px;
}
#container13{
    top: 600px;
}
#container14{
    top: 1100px;
}
#container15{
    top: 1550px;
}
#container16{
    top: 2050px;
}